In [1]:
import pandas as pd
from tqdm import tqdm
import numpy as np
import copy

In [2]:
games_df = pd.read_csv('games.csv')
games_df.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0

In [3]:
details_df = pd.read_csv('games_details.csv')
details_df.head()

C:\Users\Vishnu\AppData\Local\Temp\ipykernel_22424\1978113452.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  details_df = pd.read_csv('games_details.csv')

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0

In [4]:
#For space considerations, we drop all games prior to 2017
drop_ids = [] 
for index, row in games_df.iterrows():
    year_str = row['GAME_DATE_EST']
    year = int(year_str[0:4])
    if(year < 2017):
        drop_ids.append(row['GAME_ID'])

games_df = games_df[~games_df['GAME_ID'].isin(drop_ids)]
details_df = details_df[~details_df['GAME_ID'].isin(drop_ids)]

games_df.reset_index(drop=True, inplace=True)
details_df.reset_index(drop=True, inplace=True)

The idea is, to build our input and label tensors, we must construct a hash map from players to game_ids to statistics. The reason for this is in building our input, our goal is to take the starting 5 for a game, and take their stats from the past 3 games... to do this we simply look it up in the hashtable player_stats. We also remove statistics with Nans in it because it symbolizes the player getting no minutes in that game... which doesn't help for prediction.

In [6]:
num_rows = details_df.shape[0]
# Initialize the data structure
player_stats = {}


# Construct the data structure
for index, row in tqdm(details_df.iterrows(), total=num_rows, desc="Processing rows"):
    player_name = row['PLAYER_NAME']
    game_id = row['GAME_ID']
    player_statistics = row.drop(['PLAYER_NAME', 'GAME_ID', 'TEAM_ID', 'TEAM_CITY', 'PLAYER_ID', 'NICKNAME','START_POSITION','COMMENT','TEAM_ABBREVIATION'])
    if player_statistics.isnull().any():
        continue
    player_statistics = player_statistics.to_dict()
    if player_name not in player_stats:
        player_stats[player_name] = {}
    
    player_stats[player_name][game_id] = player_statistics

Processing rows: 100%|██████████| 208536/208536 [01:05<00:00, 3181.02it/s]

Now that player_stats is populated, let's build a hash from player to a sorted list of game_ids so that looking up the previous 3 games is easy

In [7]:
player_games_sorted = {}
for index, row in tqdm(details_df.iterrows(), total=num_rows, desc="Processing rows"):
    player_name = row['PLAYER_NAME']
    game_id = row['GAME_ID']

    if player_name not in player_games_sorted:
        player_games_sorted[player_name] = [game_id]
    else:
        player_games_sorted[player_name].append(game_id)
        player_games_sorted[player_name].sort()

Processing rows: 100%|██████████| 208536/208536 [00:08<00:00, 23913.58it/s]

In [12]:
def dict_entry_to_numpy(dict_entry):
    # Convert the 'MIN' value from 'MM::SS' to total minutes as a float
    time_str = dict_entry['MIN']
    minutes, seconds = map(int, time_str.split(':'))
    total_minutes = minutes * 60 + seconds

    # Update the 'MIN' key in the dictionary with the float value
    new_entry = copy.deepcopy(dict_entry)
    new_entry['MIN'] = float(total_minutes)

    values_array = np.array(list(new_entry.values()))

    return values_array

In [19]:
def findPastThreeIDs(player_name, target_game):
    foundarr = []
    for element in player_games_sorted[player_name]:
        if element == target_game:
            # Check the length of foundarr and prepare the output accordingly
            if len(foundarr) >= 3:
                # Take the last 3 entries from foundarr
                last_three = foundarr[-3:]
                # Concatenate with zero arrays if needed
                result = np.concatenate([np.zeros(20)] * (3 - len(last_three)) + last_three)
            else:
                # Prepend zero arrays
                num_zeros = 3 - len(foundarr)
                result = np.concatenate([np.zeros(20)] * num_zeros + foundarr)
            return result
        else:
            try:
                foundarr.append(dict_entry_to_numpy(player_stats[player_name][element]))
            except Exception as e:
                continue

    # In case the target game is not found, return a concatenation of zero arrays
    if len(foundarr) < 3:
        num_zeros = 3 - len(foundarr)
        result = np.concatenate([np.zeros(20)] * num_zeros + foundarr)
        return result

    # If we have at least 3 entries in foundarr, return the concatenated result
    return np.concatenate(foundarr)

The following is example usage of the above funciton, getting the tensor for a player and the three previous starting games before the one specified

In [20]:
findPastThreeIDs("Romeo Langford", 22200477)

array([ 1.719e+03,  7.000e+00,  1.000e+01,  7.000e-01,  1.000e+00,
        2.000e+00,  5.000e-01,  4.000e+00,  4.000e+00,  1.000e+00,
        1.000e+00,  5.000e+00,  6.000e+00,  0.000e+00,  1.000e+00,
        1.000e+00,  2.000e+00,  3.000e+00,  1.900e+01, -3.000e+00,
        1.491e+03,  1.000e+00,  5.000e+00,  2.000e-01,  0.000e+00,
        2.000e+00,  0.000e+00,  1.000e+00,  2.000e+00,  5.000e-01,
        2.000e+00,  1.000e+00,  3.000e+00,  1.000e+00,  1.000e+00,
        1.000e+00,  0.000e+00,  1.000e+00,  3.000e+00, -1.200e+01,
        1.154e+03,  2.000e+00,  2.000e+00,  1.000e+00,  1.000e+00,
        1.000e+00,  1.000e+00,  1.000e+00,  2.000e+00,  5.000e-01,
        0.000e+00,  1.000e+00,  1.000e+00,  1.000e+00,  0.000e+00,
        1.000e+00,  0.000e+00,  1.000e+00,  6.000e+00,  3.000e+00])

In [27]:
def getTensorFromID(id, game_details_df):
    filtered_df = game_details_df[(game_details_df['GAME_ID'] == id) & (game_details_df['START_POSITION'].notna())]
    tensor = np.array([], dtype=float)
    for index, row in filtered_df.iterrows():
        player_tensor = findPastThreeIDs(row['PLAYER_NAME'], id)
        tensor = np.concatenate((tensor, player_tensor))
    return tensor

Example usage of the above function. This allows us to get an input tensor for a specfied game. So, to train on data, simply run this function to get all input points on the games you want to train on.

In [28]:
getTensorFromID(22200477, details_df)

array([ 1.719e+03,  7.000e+00,  1.000e+01,  7.000e-01,  1.000e+00,
        2.000e+00,  5.000e-01,  4.000e+00,  4.000e+00,  1.000e+00,
        1.000e+00,  5.000e+00,  6.000e+00,  0.000e+00,  1.000e+00,
        1.000e+00,  2.000e+00,  3.000e+00,  1.900e+01, -3.000e+00,
        1.491e+03,  1.000e+00,  5.000e+00,  2.000e-01,  0.000e+00,
        2.000e+00,  0.000e+00,  1.000e+00,  2.000e+00,  5.000e-01,
        2.000e+00,  1.000e+00,  3.000e+00,  1.000e+00,  1.000e+00,
        1.000e+00,  0.000e+00,  1.000e+00,  3.000e+00, -1.200e+01,
        1.154e+03,  2.000e+00,  2.000e+00,  1.000e+00,  1.000e+00,
        1.000e+00,  1.000e+00,  1.000e+00,  2.000e+00,  5.000e-01,
        0.000e+00,  1.000e+00,  1.000e+00,  1.000e+00,  0.000e+00,
        1.000e+00,  0.000e+00,  1.000e+00,  6.000e+00,  3.000e+00,
        1.289e+03,  2.000e+00,  6.000e+00,  3.330e-01,  0.000e+00,
        0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
        1.000e+00,  4.000e+00,  5.000e+00,  3.000e+00,  0.000e+00,
        0.000e+00,  1.000e+00,  0.000e+00,  4.000e+00, -2.000e+00,
        9.870e+02,  1.000e+00,  5.000e+00,  2.000e-01,  0.000e+00,
        0.000e+00,  0.000e+00,  0.000e+00,  2.000e+00,  0.000e+00,
        0.000e+00,  4.000e+00,  4.000e+00,  4.000e+00,  0.000e+00,
        0.000e+00,  0.000e+00,  4.000e+00,  2.000e+00, -1.700e+01,
        1.388e+03,  5.000e+00,  8.000e+00,  6.250e-01,  1.000e+00,
        3.000e+00,  3.330e-01,  1.000e+00,  4.000e+00,  2.500e-01,
        2.000e+00,  5.000e+00,  7.000e+00,  2.000e+00,  0.000e+00,
        1.000e+00,  2.000e+00,  4.000e+00,  1.200e+01,  1.700e+01,
        5.870e+02,  6.000e+00,  8.000e+00,  7.500e-01,  0.000e+00,
        0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
        4.000e+00,  5.000e+00,  9.000e+00,  0.000e+00,  0.000e+00,
        1.000e+00,  1.000e+00,  2.000e+00,  1.200e+01,  1.100e+01,
        1.250e+03,  3.000e+00,  6.000e+00,  5.000e-01,  0.000e+00,
        0.000e+00,  0.000e+00,  1.000e+00,  4.000e+00,  2.500e-01,
        2.000e+00,  5.000e+00,  7.000e+00,  0.000e+00,  2.000e+00,
        0.000e+00,  1.000e+00,  1.000e+00,  7.000e+00, -1.600e+01,
        1.350e+03,  4.000e+00,  6.000e+00,  6.670e-01,  0.000e+00,
        0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
        0.000e+00,  5.000e+00,  5.000e+00,  1.000e+00,  0.000e+00,
        2.000e+00,  1.000e+00,  5.000e+00,  8.000e+00,  6.000e+00,
        1.534e+03,  4.000e+00,  1.600e+01,  2.500e-01,  2.000e+00,
        4.000e+00,  5.000e-01,  3.000e+00,  3.000e+00,  1.000e+00,
        1.000e+00,  1.000e+00,  2.000e+00,  4.000e+00,  3.000e+00,
        1.000e+00,  1.000e+00,  0.000e+00,  1.300e+01, -1.000e+01,
        1.906e+03,  5.000e+00,  1.400e+01,  3.570e-01,  1.000e+00,
        7.000e+00,  1.430e-01,  7.000e+00,  9.000e+00,  7.780e-01,
        1.000e+00,  2.000e+00,  3.000e+00,  2.000e+00,  1.000e+00,
        0.000e+00,  2.000e+00,  3.000e+00,  1.800e+01, -2.700e+01,
        1.721e+03,  1.000e+01,  1.700e+01,  5.880e-01,  5.000e+00,
        8.000e+00,  6.250e-01,  1.000e+00,  1.000e+00,  1.000e+00,
        0.000e+00,  4.000e+00,  4.000e+00,  5.000e+00,  1.000e+00,
        0.000e+00,  2.000e+00,  1.000e+00,  2.600e+01,  1.800e+01,
        1.511e+03,  5.000e+00,  1.100e+01,  4.550e-01,  0.000e+00,
        0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
        2.000e+00,  2.000e+00,  4.000e+00,  6.000e+00,  0.000e+00,
        0.000e+00,  0.000e+00,  1.000e+00,  1.000e+01, -1.400e+01,
        1.911e+03,  2.000e+00,  1.000e+01,  2.000e-01,  0.000e+00,
        2.000e+00,  0.000e+00,  5.000e+00,  6.000e+00,  8.330e-01,
        0.000e+00,  3.000e+00,  3.000e+00,  9.000e+00,  1.000e+00,
        0.000e+00,  4.000e+00,  1.000e+00,  9.000e+00, -1.800e+01,
        1.672e+03,  5.000e+00,  1.300e+01,  3.850e-01,  1.000e+00,
        5.000e+00,  2.000e-01,  2.000e+00,  2.000e+00,  1.000e+00,
        2.000e+00,  4.000e+00,  6.000e+00,  8.000e+00,  1.000e+00,
        0.000e+00,  1.000e+00,  0.000e+00,  1.300e+01,  1.000e+01,
        1.963e+03,  4.000e+00,  8.000e+00,  5.000e-01,  3.000e+00,
        7.000e+00,  4.290e-01,  1.000e+00,  1.000e+00,  1.000e+00,
        1.000e+00,  4.000e+00,  5.000e+00,  0.000e+00,  1.000e+00,
        0.000e+00,  1.000e+00,  6.000e+00,  1.200e+01,  1.000e+00,
        1.345e+03,  3.000e+00,  8.000e+00,  3.750e-01,  2.000e+00,
        4.000e+00,  5.000e-01,  0.000e+00,  0.000e+00,  0.000e+00,
        1.000e+00,  3.000e+00,  4.000e+00,  2.000e+00,  0.000e+00,
        2.000e+00,  1.000e+00,  2.000e+00,  8.000e+00,  9.000e+00,
        1.678e+03,  3.000e+00,  6.000e+00,  5.000e-01,  1.000e+00,
        3.000e+00,  3.330e-01,  6.000e+00,  6.000e+00,  1.000e+00,
        3.000e+00,  2.000e+00,  5.000e+00,  0.000e+00,  0.000e+00,
        0.000e+00,  0.000e+00,  1.000e+00,  1.300e+01, -9.000e+00,
        1.988e+03,  4.000e+00,  1.100e+01,  3.640e-01,  0.000e+00,
        4.000e+00,  0.000e+00,  5.000e+00,  6.000e+00,  8.330e-01,
        1.000e+00,  1.000e+00,  2.000e+00,  2.000e+00,  4.000e+00,
        0.000e+00,  1.000e+00,  2.000e+00,  1.300e+01, -1.300e+01,
        1.058e+03,  3.000e+00,  8.000e+00,  3.750e-01,  3.000e+00,
        6.000e+00,  5.000e-01,  2.000e+00,  2.000e+00,  1.000e+00,
        2.000e+00,  2.000e+00,  4.000e+00,  2.000e+00,  0.000e+00,
        0.000e+00,  0.000e+00,  1.000e+00,  1.100e+01, -5.000e+00,
        8.800e+02,  1.000e+00,  6.000e+00,  1.670e-01,  1.000e+00,
        6.000e+00,  1.670e-01,  0.000e+00,  0.000e+00,  0.000e+00,
        0.000e+00,  0.000e+00,  0.000e+00,  1.000e+00,  0.000e+00,
        0.000e+00,  1.000e+00,  0.000e+00,  3.000e+00, -1.300e+01,
        1.569e+03,  3.000e+00,  6.000e+00,  5.000e-01,  0.000e+00,
        0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
        3.000e+00,  6.000e+00,  9.000e+00,  1.000e+00,  0.000e+00,
        1.000e+00,  1.000e+00,  3.000e+00,  6.000e+00, -6.000e+00,
        1.561e+03,  6.000e+00,  9.000e+00,  6.670e-01,  0.000e+00,
        1.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
        0.000e+00,  8.000e+00,  8.000e+00,  0.000e+00,  0.000e+00,
        1.000e+00,  2.000e+00,  5.000e+00,  1.200e+01, -1.000e+00,
        2.222e+03,  1.400e+01,  2.400e+01,  5.830e-01,  7.000e+00,
        1.000e+01,  7.000e-01,  2.000e+00,  2.000e+00,  1.000e+00,
        6.000e+00,  1.200e+01,  1.800e+01,  5.000e+00,  1.000e+00,
        0.000e+00,  2.000e+00,  4.000e+00,  3.700e+01,  6.000e+00,
        1.271e+03,  3.000e+00,  6.000e+00,  5.000e-01,  1.000e+00,
        1.000e+00,  1.000e+00,  5.000e+00,  6.000e+00,  8.330e-01,
        3.000e+00,  1.000e+00,  4.000e+00,  4.000e+00,  1.000e+00,
        0.000e+00,  0.000e+00,  6.000e+00,  1.200e+01,  1.700e+01,
        1.880e+03,  3.000e+00,  4.000e+00,  7.500e-01,  2.000e+00,
        3.000e+00,  6.670e-01,  0.000e+00,  0.000e+00,  0.000e+00,
        0.000e+00,  3.000e+00,  3.000e+00,  4.000e+00,  0.000e+00,
        0.000e+00,  0.000e+00,  3.000e+00,  8.000e+00, -1.300e+01,
        1.844e+03,  3.000e+00,  1.100e+01,  2.730e-01,  2.000e+00,
        8.000e+00,  2.500e-01,  1.000e+00,  2.000e+00,  5.000e-01,
        1.000e+00,  1.000e+00,  2.000e+00,  1.000e+00,  5.000e+00,
        0.000e+00,  2.000e+00,  5.000e+00,  9.000e+00,  7.000e+00,
        2.493e+03,  1.100e+01,  2.500e+01,  4.400e-01,  3.000e+00,
        8.000e+00,  3.750e-01,  3.000e+00,  3.000e+00,  1.000e+00,
        0.000e+00,  6.000e+00,  6.000e+00,  4.000e+00,  0.000e+00,
        2.000e+00,  4.000e+00,  5.000e+00,  2.800e+01, -3.000e+00,
        2.167e+03,  1.100e+01,  1.900e+01,  5.790e-01,  4.000e+00,
        7.000e+00,  5.710e-01,  1.000e+00,  1.000e+00,  1.000e+00,
        0.000e+00,  2.000e+00,  2.000e+00,  8.000e+00,  0.000e+00,
        1.000e+00,  3.000e+00,  2.000e+00,  2.700e+01,  1.000e+00,
        2.466e+03,  1.100e+01,  2.400e+01,  4.580e-01,  6.000e+00,
        1.000e+01,  6.000e-01,  3.000e+00,  4.000e+00,  7.500e-01,
        2.000e+00,  6.000e+00,  8.000e+00,  9.000e+00,  0.000e+00,
        0.000e+00,  3.000e+00,  1.000e+00,  3.100e+01, -3.000e+00])